.promo-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  gap: 20px;
}

.promo-img {
  max-width: 90%;
  height: auto;
  border: 3px solid #0ff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
}

 



